.button {
  cursor: pointer;
  padding: 4px 16px;
  background-color: var(--color-pallete-1);
  color: var(--color-white);
  border-radius: 4px;
  transition: 0.1s ease-out;
}
.button:disabled {
  opacity: 0.64;
  cursor: default;
}
.button:not(:disabled):hover {
  transform: scale(0.96);
}
