:root {
  --color-pallete-1: #7579e7;
  --color-pallete-2: #4f7df6;
  /* --color-pallete-2: #9ab3f5; */
  --color-pallete-3: #a3d8f4;
  --color-pallete-4: #b9fffc;

  --color-pallete-1-rgb: 117, 121, 231;
  --color-pallete-2-rgb: 79, 125, 246;
  /* --color-pallete-2-rgb: 154, 179, 245; */
  --color-pallete-3-rgb: 163, 216, 244;
  --color-pallete-4-rgb: 185, 255, 252;

  --color-white: #ffffff;
  --color-grey-100: #f8f9fa;
  --color-grey-200: #e9ecef;
  --color-grey-300: #dee2e6;
  --color-grey-400: #ced4da;
  --color-grey-500: #adb5bd;
  --color-grey-600: #6c757d;
  --color-grey-700: #495057;
  --color-grey-800: #343a40;
  --color-grey-900: #212529;

  --color-dark: #212529;
  --color-dark-rgb: 33, 37, 41;

  --color-danger: #dd0426;
  --color-success: #09ae25;
  --color-danger-rgb: 221, 4, 38;
  --color-success-rgb: 9, 174, 37;
}
