@import url(./colors.css);

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: var(--color-grey-100);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-grey-600);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-pallete-1);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
html,
body,
#root {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
body {
  user-select: none;
  margin: 0;
  font-family: IRANSans;
  font-size: 16px;
  color: var(--color-grey-900);
  background-color: var(--color-grey-100);
}
input {
  font-family: IRANSans;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
button {
  border: 0;
  padding: 0;
  background-color: transparent;
  font: inherit;
  color: inherit;
}
i.bi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
